/* 
    Document   : subscriptions
    Created on : Mar 26, 2013, 2:51:59 PM
    Author     : Fawaz
    Description:
        Purpose of the stylesheet follows.
*/

.subscriptions-options {
    background: white;
    border: 2px solid #0162AD;
}

.subscriptions-options .subscription-type.checked a {
    background: #1A99E2;
    color: white;
    text-shadow: none;
}

.subscription-check {
    padding-left: 2px;
    border: 1px solid #ccc;
    margin-right: 6px;
}

.subscription-check.unchecked i {
    visibility: hidden;
}

.subscriptions-options ul.nav-list {
    padding: 0px 25px;
}

.subscriptions-options .subscription-type.checked .subscription-check {
    border-color: #0162AD;
    background : rgba( 0,0,0,0.2 );
}

.subscriptions-options ul.nav-list a {
    margin-left : -25px;
    margin-right: -25px;
    padding: 10px 25px;
    border-bottom: 1px solid #0162AD;
}

.subscriptions-options ul.nav-list li:last-child a {
    border-bottom: 0px none;
}