/upload/nbproject/private/
/upload/nbproject
/upload/cache
/upload/files

/upload/files/photos
!/upload/files/photos/no-photo_*.png


/upload/includes/dbconnect.php
/upload/includes/clipbucket.php


/upload/.idea
upload/cache/*
upload/files/*
upload/images/*
