#channels-container { }

#channels-container .global-navigation-column { }
#channels-container .global-content-column { background: #EEE; padding: 0px; border: solid #ccc; border-width: 0px 1px 1px 0px;  padding: 0px 12px 12px; border-radius: 0px 3px 3px 0px; width: 565px }

.user-filter-row { padding: 8px; margin: 0px -12px 12px; border: solid #ccc; border-width: 1px 0px; background: white;  }

.user-block {
    margin: 0px -12px 0px;
    padding: 12px 12px;
    border: solid transparent;
    border-width: 1px 0px;
    position: relative;
}

.user-block .btn-subscribe {
    position: absolute;
    top: 12px; right: 12px; 
}
.user-block .btn-add-friend {
    position: absolute;
    top: 45px; right: 12px; 
}

.users-list .user-block:last-child {
    margin-bottom: 12px;
}

.user-block:hover {
    background: whitesmoke;
    border-color: #ccc;
}

.user-block:hover .user-block-avatar img {
    box-shadow: 0px 0px 6px 0px rgba( 0,0,0,0.045 );
}

.user-block .user-block-avatar {
     float: left;
}

.user-block .user-block-details {
    margin-left: 150px;
}

.user-block .user-block-username {
    font-size: 14px;
    margin: 0px 0px 6px;
    color: #666;
}

.user-block .user-block-username a {
    color: #333;
}

.user-block-description {
    font-size: 13px;
}

/* Subscriptions */
.subscriptions-header-block {
    display: block;
}

.subscription-block .name-avatar {
    margin-bottom: 5px;
}

.subscription-block .avatar.img-polaroid {
    padding: 3px;
}

.subscription-block .name-avatar .name {
    margin-left: 58px;
    line-height: 26px;
    font-size: 13px;
    font-weight: normal;
    color: #666;
}

.subscription-block {
    list-style: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin: -1px -10px 0px;
    padding: 15px 15px 0px;
}

.subscription-block .subscription-details {
    margin: 0px 58px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: -1px;
    color: #333;
    font-size: 13px;
}

.subscription-block .subscription-details .content-thumb {
    margin-right: 8px;
}

.subscription-details span {
    display: block;
    font-size: 11px;
    color: #999;
    margin-top: 3px;
    max-height: 40px;
    overflow: hidden;
}

.subscription-block .subscription-details .content-title {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.subscription-block:hover {
    border-bottom-color: #ccc;
    border-top-color: #ccc;
}

.subscription-block:hover .subscription-details {
    border-bottom-color: transparent;
}